.Leftpane_firstcontainer{
    display: flex;
}

.LeftPane_iconbutton{
    align-self: flex-end;
}

/* Leftpane.module.css */
.iconContainer {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-40%, -50%);
  }
  