.rightpane_firstcontainer {
  display: flex;
  height: 50px;
  padding: 0px;
}
.rightpane_rightRoundediconenglish {
  position: fixed;
  left: 5px;

  transition: none;
}
.rightpane_secondcontainer {
  height: calc(100vh - 100px);
  overflow-y: auto;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
}
.rightpane_rightRoundediconarabic {
  position: fixed;
  transition: none;
  right: 10px;
}
