.main {
    /* border: 2px solid black; */
    height: 100%;
}

.repositoryManagementMainButton {
    /* border: 2px solid black; */
    position: relative;
    top: 5%;
}

.repositoryManagementSubButtonsGroup {
    /* border: 2px solid red; */
    position: relative;
    top: 8%;
    display: flex;
    gap: 10px;
    width: 100%;
}

.repositoryManagementSubButtons {
    border: 2px solid blue;
    /* margin-left: 5px !important; */
}