/* licenseManagement css starts */

.main {
    /* border: 2px solid black; */
    height: 100%;
}

.licenseManagementMainButton {
    /* border: 2px solid black; */
    position: relative;
    top: 5%;
}

.licenseManagementSubTabsGroup {
    /* border: 2px solid red; */
    position: relative;
    top: 5%;
}

.licenseManagementSubTabs {
    /* border: 2px solid blue !important; */
    min-width: 17em !important;
    /* max-width: 17em !important; */
    /* height: 45px; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start !important;
    text-align: center;
    gap: 10px;
    border-radius: 4px !important;
    border-left: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.licenseManagementSubTabsTextSpan {
    /* border: 2px solid yellow; */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.licenseManagementSubButtonsGroup {
    /* border: 2px solid red; */
    position: relative; 
    top: 8%;
    display: flex;
    gap: 10px;
    width: 100%;
}

.licenseManagementSubButtonsParentBox{
    /* border: 2px solid green; */
    min-width: 15%;
  
}

.licenseManagementSubButtons {
    border: 2px solid blue;
    /* margin-left: 5px !important; */
    
}

@media screen and (max-width: 1390px) {

    .licenseManagementSubTabs {
        /* border: 2px solid red !important; */
        min-width: 5em !important;
    }

    .licenseManagementSubTabsTextSpan {
        /* border: 2px solid black; */
        font-size: 13px;

    }

}

/* licenseManagement css ends */