.dark_bgcolor {
  /* background-color: #212121; */
  background-color: #181818;
}
.dark_bordercolor {
  /* border-color: #212121; */
  border-color: #181818;
}
.dark_drawer_arrowcolor {
  /* color: #b4b4b4; */
  /* color : #a5d149 */
  color: #cecece;
}

.dark_iconcolor{
  color: #cecece;
}
.dark_secondcontainer {
  /* background-color: #2b2b2b; */
  background-color: #212121;
}
/*    props.theme === "default"
              ? "#dff7fa"
              : props.theme === "light"
                ? "#cecece"
                : "#2b2b2b", */

.dark_themebtntextcolor {
  color: #cecece !important;
}
.dark_themebtnbordercolor {
  border-color: #cecece !important;
}