.default_bgcolor {
  background-color: #cecece;
}
.default_bordercolor {
  border-color: #cecece;
}
.default_drawer_arrowcolor {
  color: #2158a4;
}
.default_iconcolor{
  color:#393a3a
}
.default_secondcontainer {
  background-color: #e0e0e0;
}
.default_themebtntextcolor {
  color:#2158a4 !important;
}

.default_themebtnbordercolor {
  border-color: #2158a4 !important;
}