:root {
    --appBarHeight: 50px;
    --appBarElementsHeight: 46px;
}

.appBar {
    /* border: 1px solid red; */
    min-height: var(--appBarHeight) !important;
    max-height: var(--appBarHeight) !important;
}

.toolbar {
    /* border: 2px solid blue; */
    min-height: var(--appBarHeight) !important;
    max-height: var(--appBarHeight) !important;
    display: flex;
    gap: 10px;
}

.menuIcon {
    font-weight: bolder;
    font-size: 28px;
    box-shadow: none !important;
    border: none;
}

.logoParent {
    height: var(--appBarElementsHeight);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoLink {
    height: 100%;
}

.logoToolTip {
    position: relative;
    top: -4px;
    height: 100%
}

.logo {
    height: 100%;
}

.pageTitle {
    /* border: 2px solid red; */
    height: var(--appBarElementsHeight);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;

}

.pageTitleText {
    font-size: 20px !important;
    font-weight: 480 !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.languageToggleButton {
    /* border: 1px solid red !important; */
    height: var(--appBarElementsHeight);
    display: flex;
    justify-content: center;
    align-items: center;
}

.languageToggleButtonChild {
    height: 100%;
}

.faHomeEn {
    /* border: 1px solid red; */
    height: var(--appBarElementsHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
}

.userMenuEn {
    /* border: 1px solid red; */
    height: var(--appBarElementsHeight);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 8em;
    cursor: pointer;
}

.userMenuTextEn {
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.userMenuList {
    box-shadow: 0px 0px 5px gray;
}