.toolbar {
    /* border: 2px solid red; */
    min-height: 50px !important;
    max-height: 50px !important;
    /* display: "flex"; */
    /* align-content: 'center'; */
    /* height: 10px; */

}

.menuIcon {
    font-weight: bolder;
    font-size: 28px;
    box-shadow: none !important;
    border: none;
}

.logoParent {
    border: 2px solid red;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logoToolTip {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px
}

.logo {
    height: 100%;
    /* width: 28px; */
}