:root {
    --appBarHeight: 50px;
    --appBarElementsHeight: 46px;
}

.appBar {
    /* border: 1px solid red; */
    min-height: var(--appBarHeight) !important;
    max-height: var(--appBarHeight) !important;
}

.toolbar {
    /* border: 2px solid blue; */
    min-height: var(--appBarHeight) !important;
    max-height: var(--appBarHeight) !important;
    display: flex;
    gap: 10px;
}

.menuIcon {
    font-weight: bolder;
    font-size: 18px;
    box-shadow: none !important;
    border: none;
    position: relative;
    left: -21px;
    

}

.logoParent {
    height: var(--appBarElementsHeight);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoLink {
    height: 100%;
}
/* **************************LOGO CSS  */

.logoToolTip {
    position: relative;
    top:5px;
    left:-50px;
    /* top: -4px; */
    height: 100%
}

.logo {
    height: 80%;
  width:100%;
}

.pageTitle {
    /* border: 2px solid red; */
    height: var(--appBarElementsHeight);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;

}

.pageTitleText {
    font-size: 20px !important;
    font-weight: 480 !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.languageToggleButton {
    /* border: 1px solid red !important; */
    height: var(--appBarElementsHeight);
    display: flex;
    justify-content: center;
    align-items: center;
}

.languageToggleButtonChild {
    height: 100%;
}

.faHomeEn {
    /* border: 1px solid red; */
    height: var(--appBarElementsHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
}

.faHomeAr {
    height: var(--appBarElementsHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
}

.userMenuEn {
    /* border: 1px solid red; */
    height: var(--appBarElementsHeight);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 8em;
    cursor: pointer;
}

.userMenuAr {
    /* border: 1px solid red; */
    height: var(--appBarElementsHeight);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 8em;
    cursor: pointer;
}

.userMenuTextEn {
    /* border: 1px solid red; */
    font-weight: bold !important;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* font-family: Georgia, 'Times New Roman', Times, serif !important; */
}

.userMenuListEn {
    box-shadow: 0px 0px 5px gray;
    position: absolute;
    top: 55px;
    right: 20px;
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 170px;
}

.userMenuListAr {
    box-shadow: 0px 0px 5px gray;
    position: absolute;
    top: 55px;
    left: 20px;
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 190px;
}