:root {
    --headerHeight: 52px;
}

.main {
    /* border: 2px solid black; */
    height: calc(100vh - var(--headerHeight));
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftPane {
    height: 98%;
    flex: 0.2;
    padding: 5px;
    margin: 1px;
    display: flex;
    justify-content: center;
}

.leftPaneTabsGroup {
    /* border: 2px solid black; */
    position: relative;
    top: 5%;
    height: max-content;
    min-width: 14em;
    max-width: 14em;
}

.rightPane {
    flex: 1;
    height: 98%;
    padding: 5px;
    margin: 2px;
}

@media screen and (max-width: 1390px) {
    .leftPane {
        height: 96%;
    }
    .leftPaneTabsGroup {
        /* border: 2px solid black; */
        min-width: 14em;
        /* max-width: 14em; */
    }

    .userManagementTabs {
        /* border: 2px solid red !important; */
        /* min-width: 15em !important; */
        font-size: 13px;
    }

    .rightPane {
        height: 96%;
    }
}

