@import './light.css';
@import './default.css';
@import './dark.css';

/* .djs-popup.color-picker .entry {
  margin: 10!important;
} */

/* .djs-popup.color-picker .djs-popup-group {
display: grid!important;
grid: auto-flow / 1fr 1fr 1fr!important;
} */


/* BPMN COLOR CONTEXT MENU */
.entry[data-id="default-color"] {
  background-color: #FFFFFF;
  border: 1px solid #000000;
}
.entry[data-id="blue-color"] {
  background-color: #BBDEFB;
  border: 1px solid #0000FF;
}
.entry[data-id="blue-color"]:hover{
  background-color: #BBDEFB!important;
}
.entry[data-id="orange-color"] {
  background-color: #FFE0B2;
  border: 1px solid #fcae39;
}
.entry[data-id="orange-color"]:hover{
  background-color: #FFE0B2!important;
}
.entry[data-id="green-color"] {
  background-color: #C8E6C9;
  border: 1px solid #00FF00!important;
}
.entry[data-id="green-color"]:hover {
  background-color: #C8E6C9!important;
}
.entry[data-id="red-color"] {
  background-color: #FFCDD2;
  border: 1px solid #ad3541!important;
}
.entry[data-id="red-color"]:hover {
  background-color: #FFCDD2!important;
}
.entry[data-id="purple-color"] {
  background-color: #E1BEE7;
  border: 1px solid #c737e0;
}
.entry[data-id="purple-color"] :hover{
  background-color: #E1BEE7!important;
}
/* ////// */

.react-flow__node {
  background-color: #ffffff;
  border: 2px solid #cccccc;
  border-radius: 8px;
  padding: 8px;
}

.hide-node-borders .react-flow__node:not(.react-flow__node-container):not(.react-flow__node-input):not(.react-flow__node-default):not(.react-flow__node-output) {
  border: transparent;
  background-color: transparent !important;
  /* color: black!important; */
}

.hide-node-borders .toggle-shape {
  flex-direction: column-reverse;
}

.hide-node-borders .icon {
  margin: auto;
  font-size: 40px;
  font-weight: 800;
  color: var(--icon-color, initial);
}

/* .dark_bgcolor .hide-node-borders .icon:not([style*="background-color"]) {
  color: white; 
} */

.hide-node-borders .node-text {
  font-size: 10px;
  color: black;
}

.dark_bgcolor .hide-node-borders .node-text-dark {
  color: white !important;
}

/* .dark_bgcolor .hide-node-borders .icon-custom{
  color: white;
} */
.toggle-shape {
  display: flex;
  flex-direction: row;
}

.node-text {
  font-size: 12px;
  text-align: center;
  padding-left: 5;
}

.custom-node {
  width: fit-content;
  /* color: black; */
}

.toggle-shape input {
  border: none;
  outline: none;
}

/* node handles of resize */
.react-flow__resize-control.handle {
  background-color: transparent !important;
}

.react-flow__resize-control.line {
  border-color: transparent;
}

.handle {
  visibility: hidden;
}

.react-flow__handle {
  background-color: transparent !important;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.heading {
  text-align: center;
  font-size: 18px;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
  /* background-color: gray; */
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}


.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

.context-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.delete-button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-bottom: 8px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.color-options {
  display: flex;
  gap: 8px;
}

.color-button {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* download */
.download-dropdown {
  display: flex;
  align-items: center;
}

.download-dropdown select {
  /* padding: 3px; */
  border-radius: 4px;
  margin-top: 8px;
  margin-right: 1px;
  font-size: 12px;
  height: 2rem;
}

.download-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  font-size: 12px;
  height: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #45a049;
}

/* Button style when edges are hidden */
.hide-edges-button {
  background-color: #d44545;
  color: #fff;
  /* White text color */
  height: 2rem;
  border-radius: 4px;
  padding: 2px 2px 2px 2px;
  margin-top: 1rem;
  font-size: 12px;
  cursor: pointer;
  /* width:fit-content; */
  font-size: 12px;
}

/* Button style when edges are shown */
.show-edges-button {
  /* background-color: #144414; */
  background-color: #4caf50;
  color: hsl(0, 0%, 100%);
  /* White text color */
  height: 2rem;
  border-radius: 4px;
  padding: 2px 2px 2px 2px;
  font-size: 12px;
  margin-top: 1rem;
  cursor: pointer;
  /* width:fit-content; */
}

/*  */
.node-circle {
  border-radius: 50%;
  border: 1px solid red;
  width: 20px;
  height: 20px;
  margin-right: 1rem;

}

.marker {
  margin: 2px
}

/* NODE HANDLERS */
.react-flow__handle {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: rgb(71, 64, 64);
  /* Set the background color */
  border: none;
  /* Remove the border */
}


/* ////////////// */

/* CustomNode.css */

/* Styling for the node container */
.node {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 16px;
}

.title {
  /* margin-top: 10px; */
  font-size: 12px;
}

/* Toggle button */
button {
  margin-top: 10px;
}

.toggle-btn {
  height: 3rem;
  /* background-color: #144414; */
  background-color: #4caf50;
  /* Green color */
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}

.edge-select {
  margin: 5px;
}

.edge-select label {
  font-size: 13px;
}

/* Adding from documentation */
.text-updater-node {
  height: 50px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.text-updater-node label {
  display: block;
  color: #777;
  font-size: 12px;
}