.Organization_FloatingWidget{
    /* background-color: #cbd0d7 !important; */
    background-color: #eff3f7 !important;
}

.Organization_MinimizedFloatingWidget{
    /* background-color: #cbd0d7 !important; */
    background-color: #eff3f7 !important;
}

.Organization_ArtifactDialogTitle{
    background-color: #cbd0d7 !important;
    color: #6d7175 !important;
}

.Organization_ArtifactDialogContent{
    background-color: #eff3f7 !important;

}