.css-h0q0iv-MuiButtonBase-root-MuiTab-root {
    /* Remove the minimum height property */
    min-height: unset !important;
  }
/* .light_themebtntextcolor{
  color: black;

}
.light_themebtnbordercolor:{
  color: gray;

}
.default_themebtntextcolor:{
  color:#2158a4;
}
.default_themebtnbordercolor:{
  color: #2158a4;
}
.dark_themebtntextcolor:{
  color: white;

}
.dark_themebtnbordercolor:{
  color: aliceblue;
} */