

.Impex_leftpane{
    /* display: "flex";
    flex-direction: "column";
    margin-right: 10px; */
}
.Impex_exportBox{
   
    /* padding: 10px; */

    /* border: 1px solid yellow; */
    /* border-radius:10px; */
    background-color:#cecece;

   

   
}
.Impex_importBox{
    /* padding: 10px; */

    /* border: 1px solid yellow; */
    /* border-radius:10px; */
    background-color:#cecece;

   

    /* margin-top:10px; */
  
   
 
}
.Impex_rightpane{
    /* border-radius: 10px; */
    /* width: "100%"; */

    background-color:#cecece;

    background-color:blue

}

.Impex_Messagesection{
    background-color: #cbd0d7;

}
.Import_Export_Head{
    color:#212121;

    
}