.Impex_Messagesection{
    background-color: #181818;

}
/* #2b2b2b; */
.Impex_importBox, .Impex_exportBox{
    /* padding: 10px; */

    /* border: 1px solid #6bb6be; */
    /* border-radius:10px; */
    /* background-color: #dff7fa; */

    border: 1px solid #181818;
    /* border-radius:10px; */
    background-color: #2b2b2b;

    /* margin-top:10px; */
  
   
 
}