.Impex_parentBox {
  background-color: #cecece;
}

.Impex_leftpane {
}

.Impex_importBox,
.Impex_exportBox {
  background-color: #cecece;
}

.Impex_rightpane {
  background-color: #cecece;
}
.Impex_Messagesection_Header {
  background-color: #2158a4;
  color: #cecece;
}

.Impex_Messagesection_Body{
  color: #393a3a;
}
.Import_Export_Head {
  color: #2158a4;
}
