.Impex_Messagesection_Header {
  background-color: #393a3a;
  color: #cecece;
}
.Impex_importBox,
.Impex_exportBox {
}
.Import_Export_Head {
  color: #cecece;
}

.Impex_Messagesection_Body {
  color: #cecece;
}
